
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

    body {
      font-family: 'Noto Serif JP', serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      background-color: #ffffff; /* Light background in light mode */
      color: #333333; /* Dark text in light mode */
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .container {
      width: 100%;
      max-width: 800px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      background-color: #ffffff; /* Light background in light mode */
      transition: background-color 0.3s ease, color 0